.toolbar {
	background: black;
	font-weight: 500;
    /* border-bottom: 2px solid white; */
}
.nav-bar-icons{
    width:20px;
}


.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .test{
    color:white;
    float:left;
  }
  .navHead{
      position: absolute;
      width:100%;
  }
  .test1{
      color:white;
      float:right;
      margin-right:2em; 
}
/* .searchBox-cont{
    transition: 0.25s ease-in-out;
} */