.movie-list-container {
	padding-top: 56px;
}
.movie-list-container-modal {
	padding-top: 56px;
}
.image-cont{
	width: 100%;
	max-height: 50vh;
	margin: 0;
	min-height: 15vh;
	height: auto;
	margin-top: 0 !important;
	cursor: pointer;
}
.movie-card{
	background-color:#000; 
	border-top-right-radius:5px;
	border-top-left-radius:5px; 
	padding: 0px;
	box-shadow: none !important;
	width:100%;
	margin: 0;
}

.card-cont{
	padding: 2%;
}
.title-cont{
	color: #fff;
	background-color: #000;
}
.search-body {
	background-color: #000;
	color:#fff
}

.search-header {
	background-color: #000;
	color:#fff;
	border-bottom:0;
	border-radius:0;
}
.close-button{
	color: white;
	font-weight: 100;
}

.searchBox-cont {
	background-color: #000;
    border: solid 1px #555;
    border-radius: 2px;
    box-shadow: none;
    height: 35px;
    font-size: 14px;
    /*margin-left: 15px;*/
    padding: 5px 5px 5px 10px;
    width:100%;
    color: #888da8;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}

.searchBox-cont:focus{
  outline: none;
}
.title-cont-p{
	padding-top:1em;
	white-space: nowrap; 
	width: 100%; 
	overflow: hidden;
	text-overflow: ellipsis; 
}
.form-class{
	width:100%;
}
