<div class="movie-list-container">
    <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div *ngFor="let value of movieList; let idx = index" class="" fxFlex="33" fxFlex.sm="33">
            <mat-card class="example-card">
                <img mat-card-image src="./../../assets/Slices/{{value['poster-image']}}" alt="Photo of a Shiba Inu" class="image-cont">
                <mat-card-content>
                    <p>
                        text
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>